/* General styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center; /* Centra verticalmente */
}

/* Header container styling */
.header-container {
  text-align: center;
  margin: 10px 0; /* Reduce el margen entre los contenedores */
}

/* Title (SCAN, READ) styling */
.header-title {
  font-size: 36px; /* Bigger size for headers */
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Section styles */
.result-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content */
}

.result-item {
  margin: 10px 0;
  font-size: 16px;
}

.error {
  color: red;
}
